<body>
  <div class="container center">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div><br>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div><br>
      
      <div class="row">
        <div class="input-field col s6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div><br>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div><br>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
      </div><br>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>
      </div><br>

      <div class="row">
        <div class="input-field col s6">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div><br>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</body>