<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="input-field col s6">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input-field col s12">
    <%= f.label "Specie" %>
    <%= f.text_field :animalType %>
  </div>

  <div class="input-field col s6">
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>

  <div class="input-field col s2 ">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div> 

  <div >
    <button class="btn waves-effect waves-light" type="submit" name="action" onclick="Materialize.toast('Successfully Submited!', 4000)">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
