<div class="center">

<h1>Pets Available</h1>

  <div class="row">
    <form class="input_field col s12" action="/animals" method="GET"> 
      <div class="row">
        <div class="input_field col s12">
          <input placeholder="Busca por raça" id="search_input" name="by_breed" type="text" width="20%">
            <label for="search"> 
              <button class="btn-floating waves-effect waves-light" id="search_button" type="submit"onclick="Materialize.toast('Busca Realizada!', 8000)"><i class="small material-icons right">search</i>
              </button> 
            </label>
        </div>
          <form>
          <div class="switch right">
          <label >
            All
            <%= check_box "", :only_available, {:onclick=>"Materialize.toast('Filter changed!',1000)",:checked=>""}, true, false %>
            <span class="lever"></span>
            Only Available
            <%= submit_tag 'Refresh', id: "refresh_only_adopted", :class=>"btn" %>
          </label>
          </div>
          </form>
      </div>
    </form>
  </div>

</div>
<ul class="collection">
<% @filtered.each do |animal| %>
    <li class="collection-item avatar">
      <% if animal.attachment? %>
        <img src=<%= animal.attachment.url%> alt="" class="circle">
      <% else %>
        <img src="/assets/dog.jpeg" alt="" class="circle">
      <% end %>
      <span class="title"><%= link_to animal.name, animal %></span>
      <p>Specie: <%= animal.animalType %>
        [<%= animal.breed %>] <br>
        Age: <%= animal.age %>
        <br>
      </p>
      <% if animal.adopted %>
        <a href="#!" class="secondary-content"><i class="material-icons">done</i></a>
      <% end %>
    </li>
    </li>
<% end %>
</ul>

<div class="center">
  <a href='/animals/new'id="download-button" class="btn waves-effect waves-orange teal lighten-1">Share One!</a>
</div>
