<p id="notice"><%= notice %></p>

<div class="card" width="20%">
  <div class="card-image">
    <img class="activator" src="/assets/dog1.jpeg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= @animal.name %><i class="material-icons right">more_vert</i></span>
    <p>
      <div class="card-action row">
        <%= link_to 'Edit', edit_animal_path(@animal) %>

        <%= form_for(@animal) do |f| %>
          <% if @animal.adopted %>
            <%= f.check_box :adopted , :type=>"checkbox", :disabled=>"disabled"%>
            <label for="test5">Adopted</label>
          <% end %>
        <% end %>

      </div>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= @animal.name %><i class="material-icons right">close</i></span>
    <p>
      <b>Specie: </b>
      <%= @animal.animalType %>
    </p>
    <p>
      <b>Breed: </b>
      <%= @animal.breed %>
    </p>
    <p>
      <b>Age: </b>
      <%= @animal.age %>
    </p>
  </div>
</div>

  <div >
    <a href='/animals/' class="btn waves-effect waves-orange red">Back</a>
  </div>

